/.gradle
/build/
**/build/


local.properties
.gradle/
**/local.properties
**/gradle.properties

.idea/
*.iml


/build/
**/build/



/.idea
*.apk
*.ap_
*.dex
*.class




/ios/.gradle/
/ios/Pods/
/ios/.DS_Store
/ios/build/
/ios/DerivedData/
/ios/*.xcworkspace
/ios/*.xcuserstate


.DS_Store

*.log

